---
name: "â­ Star"
on:
  watch:
    types: [started]

jobs:
  star:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - run: |
          echo -e "\nA :star: from [@${{github.actor}}](https://github.com/${{github.actor}})" >> .github/stars.md
      - uses: z-shell/.github/actions/commit@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUSH_BRANCH: "main"
        with:
          commitMessage: "Repository star"
