---
name: "â­ Star"
on:
  watch:
    types: [started]

jobs:
  star:
    runs-on: ubuntu-latest
    if: github.repository == 'z-shell/.github'
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - run: |
          echo -e "\nA :star: from [@${{github.actor}}](https://github.com/${{github.actor}})" >> .github/stars.md
      - uses: z-shell/.github/actions/commit@main
        env:
          GITHUB_TOKEN: ${{ github.token }}
          PUSH_BRANCH: "main"
        with:
          commitMessage: "Repository star"
